body, html {
	height: 100%;
    margin: 0;
    font-family	: Arial, Helvetica, sans-serif;
}
body {
	background: #e0e0e0;
	color: #FFFFFF;
	font-size: 76%;
	padding: 0;
	background-image: url(images/bg1.jpg);
	background-position: center top;
}

#st2, #st3 {
	display: none;
}